/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 2.5rem;
}

.header-left > button {
  border: none;
  background-color: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 25px;
  object-fit: contain;
  margin-left: 10px;
}

.header-input .search-box {
  display: flex;
  align-items: center;
  width: 450px;
  border: 1px solid lightgray;
  flex-grow: 1;
}

.header-input .search-box > input {
  width: 100%;
  border: none;
  padding: 9px 2px;
  outline: none;
}

.header-input .search-list {
  position: absolute;
  top: 47px;
  left: 498px;
  width: 28%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}

ul{
  padding-inline-start: 0 !important;
}

.search-list li{
  list-style-type: none;
  padding: 10px 10px 4px;
}

.search-list li:hover{
  cursor: pointer;
  background-color: #ededed;
}

.header-input-button {
  width: 50px !important; /* to over-write the material-ui css */
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: black;
}

.header-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-icon {
  margin-right: 10px;
}

a:-webkit-any-link {
  text-decoration: none !important;
  cursor: pointer;
  color: black;
}
